section#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--header-height) 120px 0;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at 50% 50%,
            rgba(255, 180, 100, 0.25) 0%,
            /* Núcleo levemente mais claro/amarelado */
            rgba(255, 117, 26, 0.15) 10%,
            /* O seu laranja base assumindo */
            rgba(255, 117, 26, 0.05) 25%,
            /* Começa a sumir de forma suave */
            rgba(255, 117, 26, 0) 40%
            /* Transição final invisível */
        );

    div.hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        height: 100%;
        padding-right: 40px;
        position: relative;
        z-index: 10;

        h1 {
            font-size: 72px;
            margin-bottom: 0px;
            color: var(--text-main);
            text-transform: uppercase;
        }

        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
            line-height: 50px;

            span {
                color: var(--orange-medium);

            }
        }

        p {
            font-size: var(--font-body-md);
            color: var(--text-muted);
            max-width: 80%;
            margin-bottom: 30px;
            line-height: 1.6;
        }

        div.hero-links {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                font-size: 20px;
                font-weight: 600;
                background: var(--gradient-primary);
                color: hsl(0, 0%, 100%);
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;

                a {
                    display: flex;
                    gap: 10px;
                    padding: 18px 36px;
                }

                &:hover {
                    transform: translateY(-2px);
                    background: var(--gradient-vibrant);
                }
            }

            ul {
                display: flex;
                gap: 10px;

                li {
                    position: relative;
                    top: 0;
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    background: var(--gray-500);
                    transition: 0.3s ease;

                    &:hover {
                        top: -5px;
                        background: var(--orange-medium);

                        a {

                            svg {
                                path {
                                    fill: var(--gray-500);
                                }
                            }
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;

                        svg {
                            path {
                                transition: 0.3s ease;
                                fill: var(--text-muted);
                            }
                        }
                    }
                }
            }
        }
    }

    div.hero-code {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 40%;
        gap: 30px;
        perspective: 500px;
        position: relative;
        z-index: 10;

        div.profile-container {
            position: relative;
            width: 350px;
            height: 0px;
            transition: 0.3s ease, width 3s ease;


            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                width: 2px;
            }

            &.active {
                height: 350px;

                div.profile-wrapper {
                    animation: showImage 2s ease;
                    animation-fill-mode: forwards;
                    animation-delay: 2s;
                }

                &::before {
                    animation: apparition-bar-bottom ease 2s;
                    animation-delay: 0.6s;
                }

                &::after {
                    animation: apparition-bar-left ease 2s;
                    animation-delay: 2s;
                }
            }

            div.profile-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                clip-path: inset(0 100% 0 0);
                transition: clip-path 2s ease;
                will-change: clip-path;
                height: 100%;

                img.profile {
                    min-width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: var(--orange-medium) 4px solid;
                    box-shadow: 2px 2px 20px 0 rgba(255, 142, 77, 0.8);
                }
            }
        }

        div.code-window {
            right: 60px;
            transform: rotateY(-10deg);
            scale: 1.2;
            animation: floatCode 6s ease-in-out infinite;

            &.active {
                transform: rotateY(0deg);
                scale: 1.1;
                right: 0;
            }
        }
    }


    div.reflex {
        position: absolute;
        top: 0;
        right: 15%;
        z-index: -1;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.03);
        border-left: 1px solid rgba(255, 255, 255, 0.08);
        width: 30%;
        height: 100%;
        transform: skew(-20deg);
    }
}

@keyframes floatCode {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes apparition-bar-bottom {
    0% {
        top: 100%;
        background: var(--text-main);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 0;
    }
}

@keyframes apparition-bar-left {
    0% {
        right: 100%;
        background: var(--text-main);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        right: 0;
        opacity: 0;
    }
}

@keyframes showImage {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@media (max-width: 1400px) {
    section#hero {
        gap: 60px;
        perspective: 700px;

        div.hero-content {
            position: relative;

            h1 {
                white-space: nowrap;

            }

            top: -80px;
            transform: rotateY(15deg);
            height: auto;

            p {
                display: none;
            }
        }

        div.hero-code {
            div.code-window {
                top: 60px;
                transform: rotateY(-20deg);
            }
        }
    }
}

#tsparticles {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}